.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #053b79;
  border: 1px solid #04356d;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #03254b;
  border-color: #022042;
}
